<div class="row">
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-0 clearfix"><i class="fa fa-handshake-o bg-primary p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-primary mb-0 pt-3">4</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Nombre de Prestataire</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-0 clearfix"><i class="fa fa-handshake-o bg-success p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-info mb-0 pt-3">2</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Nombre de Pharmacie</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-0 clearfix"><i class="fa fa-handshake-o bg-warning p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-warning mb-0 pt-3">1</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Nombre d'Assurance</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-0 clearfix"><i class="fa fa-handshake-o bg-danger p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-danger mb-0 pt-3">1</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Nombre Prestataire Ouvert</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <button color="primary" class="btn btn-primary" routerLink="/theme/prestataire/add">
      <i class="fa fa-plus"></i> Nouveau Prestataire
    </button>
  </div>
  <div class="col-sm-3">
    <button color="primary" class="btn btn-primary" routerLink="/theme/prestataire/add-structure">
      <i class="fa fa-plus"></i> Ajouter structure sanitaire
    </button>
  </div>
</div>

<br />
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Prestataires
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Libellé</th>
              <th>Adresse</th>
              <th>Numéro de téléphone</th>
              <th>Statut</th>
              <th>Nombre de Structure</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let prestataire of prestataires | paginate: {itemsPerPage: pagelimit, currentPage: p, totalItems: totalPresttaires }">
              <td>{{ prestataire?.nom }}</td>
              <td>{{ prestataire?.libelle }}</td>
              <td>{{ prestataire?.adresse }}</td>
              <td>{{ prestataire?.numero }}</td>
              <td>
                <span *ngIf="prestataire?.status == false" class="badge badge-warning">Fermé</span>
                <span *ngIf="prestataire?.status == true" class="badge badge-success">Ouvert</span>
              </td>
              <td>{{ prestataire?.structureSanitaires?.length || 0 }}</td>
              <td>
                <button (click)="detailPrestataire(prestataire)" type="button" class="btn btn-square btn-primary">
                  <i class="fa fa-eye"></i>
                </button>
                <button (click)="editPrestataire(prestataire)" type="button" class="btn btn-square btn-success">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button (click)="deletePrestataire(prestataire)" class="btn btn-square btn-danger">
                  <i class="fa fa-ban"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
</div>