<div class="row">
  <button mat-raised-button color="primary" (click)="openDialogUser(null, 'create')">
    <i class="fa fa-plus"></i> Nouvel Utilisateur
  </button>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Utilisateur
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Email</th>
              <th>Date Création</th>
              <th>Rôle</th>
              <th>Numéro</th>
              <th>Adresse</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | paginate: {itemsPerPage: pagelimit, currentPage: p, totalItems: totalUsers }">
              <td>{{ user?.prenom }}</td>
              <td>{{ user?.nom }}</td>
              <td>{{ user?.email }}</td>
              <td>{{ user?.date_creation | date: 'dd-MMMM-yyyy à HH:mm' }}</td>
              <td>{{ user?.role?.nom }}</td>
              <td>{{ user?.numero }}</td>
              <td>{{ user?.adresse }}</td>
              <td>
                <span *ngIf="user.account_status == false" class="badge badge-warning">En attente</span>
                <span *ngIf="user.account_status == true" class="badge badge-success">Validé</span>
              </td>
              <td>
                <button (click)="openDialogUser(user, 'see')" type="button" class="btn btn-square btn-primary">
                  <i class="fa fa-eye"></i>
                </button>
                <button (click)="openDialogUser(user, 'edit')" type="button" class="btn btn-square btn-success">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button (click)="deactiveUser(user)" class="btn btn-square btn-danger">
                  <i class="fa fa-ban"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

          <!-- <table mat-table [dataSource]="users" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="prenom">
              <th mat-header-cell *matHeaderCellDef> Prénom </th>
              <td mat-cell *matCellDef="let element"> {{element?.prenom}} </td>
            </ng-container>

            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
              <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="date_creation">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.date_creation}} </td>
            </ng-container>

            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef> Rôle </th>
              <td mat-cell *matCellDef="let element"> {{element?.role}} </td>
            </ng-container>

            <ng-container matColumnDef="numero">
              <th mat-header-cell *matHeaderCellDef> Numéro </th>
              <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
            </ng-container>

            <ng-container matColumnDef="adresse">
              <th mat-header-cell *matHeaderCellDef> Adresse </th>
              <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
            </ng-container>

            <ng-container matColumnDef="account_status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.account_status == false" class="badge badge-warning">En attente</span>
                <span *ngIf="element.account_status == true" class="badge badge-success">Validé</span> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="USER_TABLE_COLUMNS"></tr>
            <tr mat-row *matRowDef="let row; columns: USER_TABLE_COLUMNS;"></tr>
          </table> -->
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
</div>