<div *ngIf="data.type === 'role'" class="card">
    <div class="card-header">
      <strong>Roles</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="roleForm"  class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="nom">Nom</label>
          <div class="col-md-9">
            <input type="text" id="nom" formControlName="nom" class="form-control" placeholder="Nom du role"
              required  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="code">Code</label>
          <div class="col-md-9">
            <input type="text" id="code" formControlName="code" class="form-control" placeholder="Code role"
              required />
          </div>
        </div>

        <div *ngIf="data.mode === 'edit' || data.mode === 'create'" class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i>{{ data.mode === 'edit' ? 'Modifier' : 'Crééer' }}
          </button>
        </div>
      </form>
    </div>
  </div>
<div *ngIf="data.type === 'specialisation'" class="card">
    <div class="card-header">
      <strong>Spécialisation</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="specialisationForm"  class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="nomSpec">Nom</label>
          <div class="col-md-9">
            <input type="text" id="nomSpec" formControlName="nom" class="form-control" placeholder="Nom specialisation"
              required  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="codeSpec">Code</label>
          <div class="col-md-9">
            <input type="text" id="codeSpec" formControlName="code" class="form-control" placeholder="Code specialisation"
              required />
          </div>
        </div>

        <div *ngIf="data.mode === 'edit' || data.mode === 'create'" class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i>{{ data.mode === 'edit' ? 'Modifier' : 'Crééer' }}
          </button>
        </div>
      </form>
    </div>
  </div>

<div *ngIf="data.type === 'structureSanitaire'" class="card">
    <div class="card-header">
      <strong>Structure Sanitaire</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="structureSanitaireForm"  class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="nom">Nom</label>
          <div class="col-md-9">
            <input type="text" formControlName="nom" class="form-control" placeholder="Nom de la structure"
              required  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="code">Code</label>
          <div class="col-md-9">
            <input type="text" formControlName="code" class="form-control" placeholder="Code Structure"
              readonly />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="ville">Ville</label>
          <div class="col-md-9">
            <input type="text" formControlName="ville" class="form-control" placeholder="Vile Structure"
              required />
          </div>
        </div>

        <div *ngIf="data.mode === 'edit' || data.mode === 'create'" class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i>{{ data.mode === 'edit' ? 'Modifier' : 'Crééer' }}
          </button>
        </div>
      </form>
    </div>
  </div>