<div *ngIf="data.type === 'role'" class="card">
    <div class="card-header">
      <strong>Roles</strong>
    </div>
    <div *ngIf="data?.mode !== 'delete'" class="card-body">
      <form [formGroup]="roleForm" (ngSubmit)="submit()"   class="form-horizontal">
        <div *ngIf="data?.item?.roleId" class="form-group row">
          <label class="col-md-3 col-form-label" for="nom">ID</label>
          <div class="col-md-9">
            <input disabled readonly type="text" id="roleId" formControlName="roleId" class="form-control" placeholder="Nom du role"
              required  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="nom">Nom</label>
          <div class="col-md-9">
            <input type="text" id="nom" formControlName="nom" class="form-control" placeholder="Nom du role"
              required  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="code">Code</label>
          <div class="col-md-9">
            <input type="text" id="code" formControlName="code" class="form-control" placeholder="Code role"
              required />
          </div>
        </div>

        <div *ngIf="data.mode === 'edit' || data.mode === 'create'" class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i>{{ data.mode === 'edit' ? 'Modifier' : 'Crééer' }}
          </button>
        </div>
      </form>
    </div>
  </div>
<div *ngIf="data.type === 'specialisation'" class="card">
    <div class="card-header">
      <strong>Spécialisation</strong>
    </div>
    <div *ngIf="data?.mode !== 'delete'"  class="card-body">
      <form [formGroup]="specialisationForm" (ngSubmit)="submit()"  class="form-horizontal">
        <div *ngIf="data?.item?.specialisationId" class="form-group row">
          <label class="col-md-3 col-form-label" for="nom">ID</label>
          <div class="col-md-9">
            <input readonly type="text" id="specialisationId" formControlName="specialisationId" class="form-control"
              required  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="nomSpec">Nom</label>
          <div class="col-md-9">
            <input type="text" id="nomSpec" formControlName="nom" class="form-control" placeholder="Nom specialisation"
              required  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="codeSpec">Code</label>
          <div class="col-md-9">
            <input type="text" id="codeSpec" formControlName="code" class="form-control" placeholder="Code specialisation"
              required />
          </div>
        </div>

        <div *ngIf="data.mode === 'edit' || data.mode === 'create'" class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i>{{ data.mode === 'edit' ? 'Modifier' : 'Crééer' }}
          </button>
        </div>
      </form>
    </div>
  </div>

<div *ngIf="data.type === 'structureSanitaire'" class="card">
    <div class="card-header">
      <strong>Structure Sanitaire</strong>
    </div>
    <div *ngIf="data?.mode !== 'delete'"  class="card-body">
      <form [formGroup]="structureSanitaireForm" (ngSubmit)="submit()" class="form-horizontal">
        <div *ngIf="data?.item?.structuresanitaireId" class="form-group row">
          <label class="col-md-3 col-form-label" for="nom">ID</label>
          <div class="col-md-9">
            <input readonly type="text" id="structuresanitaireId" formControlName="structuresanitaireId" class="form-control"
              required  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="is_actif">Actif</label>
          <div class="col-md-9">
            <input type="checkbox" formControlName="is_actif" class="form-control"
              readonly />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="nom">Nom</label>
          <div class="col-md-9">
            <input #nomSpecialite (input)="generateString(nomSpecialite.value)" type="text" formControlName="nom" class="form-control" placeholder="Nom de la structure"
              required  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="code">Code</label>
          <div class="col-md-9">
            <input type="text" formControlName="code" class="form-control" placeholder="Code Structure"
              readonly />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="ville">Ville</label>
          <div class="col-md-9">
            <input type="text" formControlName="ville" class="form-control" placeholder="Ville Structure"
              required />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="email">Email</label>
          <div class="col-md-9">
            <input type="email" formControlName="email" class="form-control" placeholder="Email Structure"
               />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="adresse">Adresse</label>
          <div class="col-md-9">
            <input type="text" formControlName="adresse" class="form-control" placeholder="Adresse de la Structure" />
          </div>
        </div>
        <div class="c-pointer">
          <span (click)="showMap()">Afficher la carte</span>
        </div>
        <div (click)="showMap()" class="form-group row">
          <label class="col-md-3 col-form-label" for="latitude">Latitude</label>
          <div class="col-md-9">
            <input disabled type="text" formControlName="latitude" class="form-control" placeholder="latitude"
               />
          </div>
        </div>
        <div (click)="showMap()" class="form-group row">
          <label class="col-md-3 col-form-label" for="longitude">Longitude</label>
          <div class="col-md-9">
            <input disabled type="text" formControlName="longitude" class="form-control" placeholder="longitude"
               />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="typePrestataire">Type de Structure</label>
          <div class="col-md-9">
            <select formControlName="typePrestataire" class="form-control" name="typePrestataire" id="typePrestataire">
              <option value="PHARMACIE">Pharmacie</option>
              <option value="CLINIQUE_PRIVE">Clinique Privée</option>
              <option value="HOPITAL_PRIVE">Hôpital Privé</option>
              <option value="HOPITAL_PUBLIC">Hôpital Public</option>
          </select>
          </div>
        </div>

        <div *ngIf="data.mode === 'edit' || data.mode === 'create'" class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i>{{ data.mode === 'edit' ? 'Modifier' : 'Crééer' }}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="data?.mode === 'delete'" class="card-body">
    Voulez-vous vraiment supprimer cet élément
    <div class="card-footer">
      <button (click)="deleteItem(data?.item)" class="btn btn-sm btn-primary">
        <i class="fa fa-dot-circle-o"></i>Oui
      </button>
      <button (click)="close()" class="btn btn-sm btn-default">
        <i class="fa fa-dot-circle-o"></i>Non
      </button>
    </div>
  </div>
  <div *ngIf="hasError" class="error-msg">
    Veuillez renseigner toutes les infos du formulaires avant de valider
  </div>
  <div *ngIf="hasErrorSubmitting" class="error-msg">
    Une erreur est survenue lors du traitement de votre demande
  </div>