    <div class="card">
      <div class="card-header">
        <strong>Modification Utilisateur</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onUpdate()" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="role">Rôle</label>
            <div class="col-md-9">
                <select [ngClass]="{ 'role-select': data?.user?.userId} " formControlName="roleCode" class="form-control" name="role" id="role">
                    <option value="ROLE_USER">Role User</option>
                    <option value="ROLE_MEDECIN">Role Medecin</option>
                    <option value="ROLE_ADMIN">Role Administrateur</option>
                </select>
            </div>
          </div>
          <div *ngIf="this.data?.user?.userId" class="form-group row">
            <label class="col-md-3 col-form-label" for="userId">ID</label>
            <div class="col-md-9">
              <input type="text" id="userId" formControlName="userId" class="form-control"
                readonly />
            </div>
          </div>
          <div *ngIf="this.data?.user?.userId" class="form-group row">
            <label class="col-md-3 col-form-label" for="prenom">Statut du Compte</label>
            <div class="col-md-9">
              <input type="checkbox" id="account_status" formControlName="account_status" class="form-control"
                required  />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="prenom">Prénom</label>
            <div class="col-md-9">
              <input type="text" id="prenom" formControlName="prenom" class="form-control" placeholder="Prénom de l'utilisateur"
                required  />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="nom">Nom</label>
            <div class="col-md-9">
              <input type="text" id="nom" formControlName="nom" class="form-control" placeholder="Nom de l'utilisateur"
                required />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="adresse">Adresse</label>
            <div class="col-md-9">
              <input type="text" id="adresse" formControlName="adresse" class="form-control" placeholder="Adresse de l'utilisateur"
                required />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email">Email</label>
            <div class="col-md-9">
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Nom catégorie"
                required />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="numéro">Numéro de téléphone</label>
            <div class="col-md-9">
              <input type="text" id="numéro" formControlName="numero" class="form-control" placeholder="Numéro"
                required />
            </div>
          </div>

          <ng-container *ngIf="userForm?.value?.roleCode === 'ROLE_MEDECIN'">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="role">Structure Sanitaire</label>
              <div class="col-md-9">
                  <select formControlName="structuresanitaireId" class="form-control" name="role" id="role">
                      <option *ngFor="let item of structuresSanitaires$ | async" [value]="+item?.structuresanitaireId"> {{ item?.nom}} </option>
                  </select>
              </div>
            </div>


            <div *ngIf="data.mode === 'edit'" class="form-group row">
              <label class="col-md-3 col-form-label" for="role">Spécialisations</label>
              <div class="col-md-9">
                  <select multiple formControlName="list_specialisations" class="form-control" name="list_specialisations" id="list_specialisations">
                      <option *ngFor="let item of listSpecialisation" [ngValue]="getSelectedSpecialisation(item, userForm.get('list_specialisations')!.value)" > {{ item?.nom}} </option>
                  </select>
              </div>
            </div>

          </ng-container>

          <div class="card-footer">
            <button *ngIf="data.mode === 'edit' || data.mode === 'create'" [disabled]="isLoading" type="submit" class="btn btn-sm btn-primary">
              <i class="fa fa-dot-circle-o"></i>{{ data.mode === 'edit' ? 'Modifier' : 'Crééer' }}
            </button>
            <button type="button" (click)="close()" class="btn btn-sm btn-primary">
              <i class="fa fa-times"></i>Fermer
            </button>
          </div>
          <div *ngIf="hasError">
            {{ errorMsg }}
          </div>
        </form>
      </div>
    </div>