    <div class="card">
      <div class="card-header">
        <strong>Modification Utilisateur</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onUpdate()" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="role">Rôle</label>
            <div class="col-md-9">
                <select formControlName="roleCode" class="form-control" name="role" id="role">
                    <option value="ROLE_USER">Role User</option>
                    <option value="ROLE_MEDECIN">Role Medecin</option>
                    <option value="ROLE_ADMIN">Role Administrateur</option>
                </select>
            </div>
          </div>
          <div *ngIf="this.data?.user?.userId" class="form-group row">
            <label class="col-md-3 col-form-label" for="userId">ID</label>
            <div class="col-md-9">
              <input type="text" id="userId" formControlName="userId" class="form-control"
                readonly />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="prenom">Prénom</label>
            <div class="col-md-9">
              <input type="text" id="prenom" formControlName="prenom" class="form-control" placeholder="Prénom de l'utilisateur"
                required  />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="nom">Nom</label>
            <div class="col-md-9">
              <input type="text" id="nom" formControlName="nom" class="form-control" placeholder="Nom de l'utilisateur"
                required />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="adresse">Adresse</label>
            <div class="col-md-9">
              <input type="text" id="adresse" formControlName="adresse" class="form-control" placeholder="Adresse de l'utilisateur"
                required />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email">Email</label>
            <div class="col-md-9">
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Nom catégorie"
                required />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="numéro">Numéro de téléphone</label>
            <div class="col-md-9">
              <input type="text" id="numéro" formControlName="numero" class="form-control" placeholder="Numéro"
                required />
            </div>
          </div>

          <div class="form-group row" *ngIf="userForm?.value?.roleCode === 'ROLE_MEDECIN'">
            <label class="col-md-3 col-form-label" for="role">Structure Sanitaire</label>
            <div class="col-md-9">
                <select formControlName="structuresanitaireId" class="form-control" name="role" id="role">
                    <option *ngFor="let item of structuresSanitaires$ | async" [value]="item?.structuresanitaireId"> {{ item?.nom}} </option>
                </select>
            </div>
          </div>

          <div *ngIf="data.mode === 'edit' || data.mode === 'create'" class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary">
              <i class="fa fa-dot-circle-o"></i>{{ data.mode === 'edit' ? 'Modifier' : 'Crééer' }}
            </button>
          </div>
        </form>
      </div>
    </div>