<div class="row" *ngIf="newsCount">
  <div class="col-6 col-lg-4">
    <div class="card">
      <div class="card-body p-0 clearfix"><i class="fa fa-hospital-o bg-primary p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-primary mb-0 pt-3">{{newsCount[0]?.count + newsCount[1]?.count }}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Total News</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-4">
    <div class="card">
      <div class="card-body p-0 clearfix"><i class="fa fa-hospital-o bg-primary p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-primary mb-0 pt-3">{{newsCount[0]?.count}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">News Publiés</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-4">
    <div class="card">
      <div class="card-body p-0 clearfix"><i class="fa fa-hospital-o bg-primary p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-primary mb-0 pt-3">{{newsCount[1]?.count}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">News en Attente</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <button color="primary" class="btn btn-primary" routerLink="/theme/news/add">
    <i class="fa fa-plus"></i> Nouveau News
  </button>
</div>
<br/>
<div class="row">
  <div class="col-md-4" *ngFor="let new of news;">
     <div class="card">
        <!--<img class="card-img-top" [src]="new.image_url" alt="Card image cap">-->
        <img class="card-img-top" [src]="new.imageUrl">
        <div class="card-body">
           <h4 class="card-title border-bottom pb-3">{{new.titre}} <span *ngIf="new.is_actif == false" class="badge badge-warning">En attente</span>
            <span *ngIf="new.isActif == true" class="badge badge-success">Publié</span><button (click)="editNew(new.newId, edit)" class="btn btn-square btn-primary float-right d-inline-flex share"><i class="fa fa-edit fa-lg mt-4"></i></button><button (click)="deleteNew(new.newId, delete)" class="btn btn-square btn-danger float-right d-inline-flex share"><i class="fa fa-trash fa-lg mt-4"></i></button></h4>
           <p class="card-text">{{new.contenu}}</p>
           <a href="#" class="float-right">Lire plus <i class="fa fa-angle-double-right fa-lg mt-4"></i></a>
        </div>
     </div>
  </div>
</div>
<ng-template #delete>
  <div class="modal-body text-center">
    <p>Veuillez-confirmer pour la suppression de la catégorie</p>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()" >OUI</button>
    <button type="button" class="btn btn-default" (click)="decline()" >NON</button>
  </div>
</ng-template>