<div class="card">
    <div class="card-header">
        <strong>Ajout Structure Sanitaire</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="structureSanitaireForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name-input">Nom</label>
                <div class="col-md-9">
                    <input type="text" id="nom" formControlName="nom" class="form-control" placeholder="Nom" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name-input">Ville</label>
                <div class="col-md-9">
                    <input type="text" id="ville" formControlName="ville" class="form-control" placeholder="Ville" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select4">Type de Prestataire</label>
                <div class="col-md-9">
                    <select id="select1" name="select1" formControlName="typePrestataire"
                        class="form-control form-control-sm">
                        <option value="Pharmacie">Pharmacie</option>
                        <option value="Hôpital">Hôpital</option>
                        <option value="Dispensaire">Dispensaire</option>
                        <option value="Poste de santé">Poste de santé</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">Email</label>
                <div class="col-md-9">
                    <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email"
                        required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="adresse-input">Adresse</label>
                <div class="col-md-9">
                    <input type="text" id="adresse" formControlName="adresse" class="form-control" placeholder="Adresse"
                        required />
                </div>
            </div>
            <div (click)="showMap()" class="form-group row">
                <label class="col-md-3 col-form-label" for="latitude">Latitude</label>
                <div class="col-md-9">
                    <input readonly type="text" formControlName="latitude" class="form-control"
                        placeholder="latitude" />
                </div>
            </div>
            <div (click)="showMap()" class="form-group row">
                <label class="col-md-3 col-form-label" for="longitude">Longitude</label>
                <div class="col-md-9">
                    <input readonly type="text" formControlName="longitude" class="form-control"
                        placeholder="longitude" />
                </div>
            </div>
            <div class="c-pointer">
                <button class="btn btn-sm btn-primary" (click)="showMap()">Afficher la carte</button>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select3">Ouvert/Fermé</label>
                <div class="col-md-9">
                    <select id="select3" name="select3" formControlName="is_actif" class="form-control form-control-sm">
                        <option [ngValue]="true">Ouvert</option>
                        <option [ngValue]="false">Fermé</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select4">Actif Nuit</label>
                <div class="col-md-9">
                    <select id="select4" name="select4" formControlName="is_all_night"
                        class="form-control form-control-sm">
                        <option [ngValue]="true">Oui</option>
                        <option [ngValue]="false">Non</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select5">Périodicité</label>
                <div class="col-md-9">
                    <select id="select5" name="select5" formControlName="periodicityType"
                         class="form-control form-control-sm">
                        <option value="occurency">Occurence</option>
                        <option value="duration">Périodicité</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" *ngIf="structureSanitaireForm.get('periodicityType')?.value ==='duration'">
                <div class="col-md-6">
                    <span class="help-block">Date de Début</span>
                    <input class="form-control" formControlName="watch_start_date" id="date-input" type="date"
                        name="date-input" placeholder="date">
                </div>
                <div class="col-md-6">
                    <span class="help-block">Date de Fin</span>
                    <input class="form-control" formControlName="watch_end_date" id="date-input" type="date"
                        name="date-input" placeholder="date">
                </div>
            </div>
            <div class="form-group row" *ngIf="structureSanitaireForm.get('periodicityType')?.value ==='occurency'">
                <label class="col-md-3 col-form-label" for="position-input">Jours d'ouverture</label>
                <div class="col-md">
                    <mat-form-field class="col-md" appearance="fill">
                        <mat-label>Choix des jours de la semaine</mat-label>
                        <mat-select formControlName="watch_periodicity_value" (selectionChange)="change($event)" multiple>
                            <mat-option *ngFor="let jour of occurencesList" [value]="jour">{{jour}}</mat-option>
                        </mat-select>
                </mat-form-field>

                </div>
            </div>
            <div class="card-footer">
                <button [disabled]="isSubmitting" type="submit" class="btn btn-sm btn-primary">
                    <i class="fa fa-dot-circle-o">
                    </i>
                    Enregistrer
                    <mat-spinner *ngIf="isSubmitting" [diameter]="15"></mat-spinner>
                </button>
            </div>
        </form>
    </div>

</div>