<div class="card">
    <div class="card-header">
        <strong>Ajout Structure Sanitaire</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="structureSanitaireForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name-input">Nom</label>
                <div class="col-md-9">
                    <input type="text" id="nom" formControlName="nom" class="form-control" placeholder="Nom" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name-input">Ville</label>
                <div class="col-md-9">
                    <input type="text" id="ville" formControlName="ville" class="form-control" placeholder="Ville" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select4">Type de Prestataire</label>
                <div class="col-md-9">
                    <select id="select1" name="select1" formControlName="typePrestataire"
                        class="form-control form-control-sm">
                        <option value="0">Choix</option>
                        <option value="Pharmacie">Pharmacie</option>
                        <option value="Hôpital">Hôpital</option>
                        <option value="Dispensaire">Dispensaire</option>
                        <option value="Poste de santé">Poste de santé</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">Email</label>
                <div class="col-md-9">
                    <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email"
                        required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="adresse-input">Adresse</label>
                <div class="col-md-9">
                    <input type="text" id="adresse" formControlName="adresse" class="form-control" placeholder="Adresse"
                        required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="position-input">Adresse MAP</label>
                <div class="col-md-9">
                    <div class="map" id="map" class="match-parent"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select3">Etat Prestataire</label>
                <div class="col-md-9">
                    <select id="select3" name="select3" formControlName="is_actif" class="form-control form-control-sm">
                        <option value="0">Choix</option>
                        <option value="Ouvert">Ouvert</option>
                        <option value="Fermé">Fermé</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select4">Actif Nuit</label>
                <div class="col-md-9">
                    <select id="select4" name="select4" formControlName="is_all_night"
                        class="form-control form-control-sm">
                        <option value="0">Choix</option>
                        <option value="Oui">Oui</option>
                        <option value="false">Non</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select5">Périodicité</label>
                <div class="col-md-9">
                    <select id="select5" [(ngModel)]="selectedOption" name="select5" formControlName="periodicityType"
                        (ngModelChange)="changePrestataire($event)" class="form-control form-control-sm">
                        <option value="">Choix</option>
                        <option value="occurency">Occurence</option>
                        <option value="periodicity">Périodicité</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" *ngIf="selectedOption=='periodicity'">
                <div class="col-md-6">
                    <span class="help-block">Date de Début</span>
                    <input class="form-control" formControlName="watch_start_date" id="date-input" type="date"
                        name="date-input" placeholder="date">
                </div>
                <div class="col-md-6">
                    <span class="help-block">Date de Fin</span>
                    <input class="form-control" formControlName="watch_end_date" id="date-input" type="date"
                        name="date-input" placeholder="date">
                </div>
            </div>
            <div class="form-group row" *ngIf="selectedOption=='occurency'">
                <label class="col-md-3 col-form-label" for="position-input">Occurences</label>
                <div class="col-md-9">
                    <mat-select formControlName="watch_periodicity_value" multiple>
                        <mat-option *ngFor="let jour of occurencesList" [value]="jour">{{jour}}</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="fa fa-dot-circle-o"></i>Enregistrer
                </button>
            </div>
        </form>
    </div>

</div>