<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Ajout Structure Sanitaire / Prestataire
    </div>
<div class="card-body">
    <form [formGroup]="prestaStructureForm" (ngSubmit)="onSubmit()" class="form-horizontal">
        <div class="form-group row" *ngIf="allPrestataires">
            <label class="col-md-3 col-form-label" for="position-input">Prestataire</label>
            <div class="col-md-9">
                <ng-multiselect-dropdown
  [placeholder]="'Choisir le prestataire'"
  [settings]="dropdownSettings1"
  [data]="allPrestataires"
  [(ngModel)]="prestataires"
  (onSelect)="selected1($event)"
  (onSelectAll)="selected1($event)"
  formControlName="prestataire"
>
</ng-multiselect-dropdown>
            </div>
        </div>
        <div class="form-group row" *ngIf="allStructures">
            <label class="col-md-3 col-form-label" for="position-input">Structure Sanitaire</label>
            <div class="col-md-9">
                <ng-multiselect-dropdown
  [placeholder]="'Structures Sanitaires'"
  [settings]="dropdownSettings"
  [data]="allStructures"
  [(ngModel)]="structures"
  (onSelect)="selected($event)"
  (onSelectAll)="selected($event)"
  formControlName="structureSanitaire"
>
</ng-multiselect-dropdown>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i>Enregistrer
            </button>
        </div>
    </form>
</div>
</div>